# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSX
*.DS_STORE

# python
*.pyc

# SGX build files
.config_HW_PRERELEASE_x64
App/Enclave_u.c
App/Enclave_u.h
Enclave/Enclave_t.c
Enclave/Enclave_t.h
slalom_app

# outputs
results/
*.json

.idea/
.cproject
.project
